$tablet-width: 768px;

@mixin tablet {
  @media (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin button-border-bottom {
  display: block;
  content: '';
  margin-top: 5px;
  border-bottom: solid 2px #0068c0;
}
